.main-box {
  background: purple;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.counter__number {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.counter__minus {
  margin-right: 1rem;
}


.counter__plus, .counter__minus {
  background: black;
  color: white;
  border: none;
  font-size: 3rem;
  width: 150px;
}




form .error-message {
  color: red;
  display: none;
}

form .error-message.show {
  display: block;
}


